{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<style>
    body {
        background-image: url(https://cdn.discordapp.com/attachments/1002595520281325578/1027272338779144312/BG_2.gif);
        background-repeat: repeat;
    }
    input, textarea, select, button {
        font-family: 'Poppins';
        color: #343434;
        font-size: 13px;}
    .header {
        padding: 20px;
        text-align: center;
    }
    .primary-heading {
        font-family: 'Poppins';
        font-size: xx-large;
        color: #30663c;
        margin-bottom: 8px;
        margin-top: 8px;
    }
    .wrapper {
        min-height: 100vh;
        background-size:cover;
        display: flex;
        align-items: center;
    }
    .inner {
        padding: 20px;
        background: #FFFDED;
        max-width: 850px;
        margin: auto;
        display: flex;
    }
    h1 {
        font-size: 25 px;
        font-family: 'Poppins';
        text-align: center;
        margin-bottom: 28px;
        color: #f9f9f9;
        }
    .body {
        padding-top: 16px;
        padding: 16px; }
    .footer {
        margin-top: 32px;}
    .button {
        border-radius: 5px;
        background-color: #30663c;
        border: #201335;
        padding: 10px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: 'Poppins';
        font-size: small; }
    a {
    color: #333333;
    font-size: small;
    text-decoration-line: none;
    font-family: 'Poppins';
    }
    b { 
        margin-top: 10px;
        font-size: large;
        color: #f6f6f6;
        margin-bottom: 10px;
        font-family: 'Poppins';}

    .card {
    margin-right: auto;
    margin-left: auto;
    width: 250px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    height: 300px;
    border-radius: 5px;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    text-align: center;
    }

    .card:hover {
        transform: scale(1.01);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }
</style>

<body>
    <div ALIGN = 'center'>
        <div class = "container">
                <h1>𓆇 Create a New Task 𓆇</h1>
                <form method="POST" action="">
                    {% csrf_token %}
                    
                    <b>{{ form.as_p }}</b>
            
                    <input type="submit", value="Create">
                </form>
                <button><a href="{% url 'todolist:show_todolist' %}">Cancel</a></button>
        </div>
    </div>
</body>

{% endblock content %}